Repository ciiqr/vscode-extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown, eslint, shellcheck --color=always

added action to auto publish extensions when changelog changes are pushed
  .github/workflows/release.yml
  .nvmrc
Due: prettier --check --ignore-unknown

added note-syntax extension
  .vscode/launch.json
  package-lock.json
  package.json
  packages/note-syntax/.vscodeignore
  packages/note-syntax/CHANGELOG.md
  packages/note-syntax/README.md
  packages/note-syntax/images/icon.png
  packages/note-syntax/images/language-icon.png
  packages/note-syntax/images/language-icon.psd
  packages/note-syntax/images/sample.png
  packages/note-syntax/language-configuration.json
  packages/note-syntax/package.json
  packages/note-syntax/sample.txt
  packages/note-syntax/syntaxes/Note.tmLanguage.json
  readme.md
  scripts/bump-version.sh
Due: prettier --check --ignore-unknown, shellcheck --color=always

note-syntax: updated readme image url
  package-lock.json
  packages/note-syntax/CHANGELOG.md
  packages/note-syntax/README.md
  packages/note-syntax/package.json
Due: prettier --check --ignore-unknown

note-syntax: Disable bracket pair colorization
  package-lock.json
  packages/note-syntax/CHANGELOG.md
  packages/note-syntax/README.md
  packages/note-syntax/package.json
Due: prettier --check --ignore-unknown

update workflow syntax
  .github/workflows/release.yml
Due: prettier --check --ignore-unknown

removed repo setup notes from readme
  readme.md
Due: prettier --check --ignore-unknown

note-syntax: changed default file extension to .txt
  package-lock.json
  packages/note-syntax/CHANGELOG.md
  packages/note-syntax/package.json
  packages/note-syntax/syntaxes/Note.tmLanguage.json
Due: prettier --check --ignore-unknown

updated nix packages
  .envrc
  devshell.toml
  flake.lock
  flake.nix
Due: prettier --check --ignore-unknown

updated packages
  .lintstagedrc.yml
  .shellcheckrc
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown

added encode extension
  .vscode/launch.json
  .vscode/tasks.json
  devshell.toml
  package-lock.json
  package.json
  packages/encode/.eslintrc.yml
  packages/encode/.vscodeignore
  packages/encode/CHANGELOG.md
  packages/encode/README.md
  packages/encode/package.json
  packages/encode/src/extension.ts
  packages/encode/tsconfig.json
Due: prettier --check --ignore-unknown, eslint

setup turbo so we can run build multiple extensions at once
  package-lock.json
  package.json
  turbo.json
Due: prettier --check --ignore-unknown

setup root tsconfig
  package-lock.json
  packages/encode/package.json
  packages/note-syntax/package.json
  tsconfig.json
Due: prettier --check --ignore-unknown

encode: updated keywords
  packages/encode/package.json
Due: prettier --check --ignore-unknown

added reindent extension
  .github/workflows/release.yml
  .husky/pre-commit
  .vscode/launch.json
  package-lock.json
  package.json
  packages/reindent/.eslintrc.yml
  packages/reindent/.vscodeignore
  packages/reindent/CHANGELOG.md
  packages/reindent/README.md
  packages/reindent/package.json
  packages/reindent/src/extension.ts
  packages/reindent/src/vscode.d.ts
  packages/reindent/tsconfig.json
  tsconfig.json
Due: prettier --check --ignore-unknown, eslint

fix matrix packages
  .github/workflows/release.yml
Due: prettier --check --ignore-unknown

added fold-comments extension
  .vscode/launch.json
  package-lock.json
  packages/fold-comments/.eslintrc.yml
  packages/fold-comments/.vscodeignore
  packages/fold-comments/CHANGELOG.md.pre-release
  packages/fold-comments/README.md
  packages/fold-comments/package.json
  packages/fold-comments/src/extension.ts
  packages/fold-comments/tsconfig.json
  tsconfig.json
Due: prettier --check --ignore-unknown, eslint

added paste-indented extension
  .vscode/launch.json
  package-lock.json
  packages/paste-indented/.eslintrc.yml
  packages/paste-indented/.vscodeignore
  packages/paste-indented/CHANGELOG.md
  packages/paste-indented/README.md
  packages/paste-indented/package.json
  packages/paste-indented/src/extension.ts
  packages/paste-indented/tsconfig.json
  tsconfig.json
Due: prettier --check --ignore-unknown, eslint

ci: fetch full git history so matrix command works properly...
  .github/workflows/release.yml
Due: prettier --check --ignore-unknown

paste-indented: fixed pasting with clipboard line count matching the selection count
  package-lock.json
  packages/paste-indented/CHANGELOG.md
  packages/paste-indented/package.json
  packages/paste-indented/src/extension.ts
Due: prettier --check --ignore-unknown, eslint

wip
  packages/paste-indented/src/extension.ts
Due: prettier --check --ignore-unknown, eslint

paste-indented: limited to languages which aren't handled properly by built in paste, do our best to trim excess indentation
  .github/workflows/release.yml
  package-lock.json
  packages/paste-indented/CHANGELOG.md
  packages/paste-indented/package.json
  packages/paste-indented/src/extension.ts
Due: prettier --check --ignore-unknown, eslint

debug cleanup
  .github/workflows/release.yml
Due: prettier --check --ignore-unknown

paste-indented: updated readme with recommended keybindings
  package-lock.json
  packages/paste-indented/CHANGELOG.md
  packages/paste-indented/README.md
  packages/paste-indented/package.json
Due: prettier --check --ignore-unknown

paste-indented: updated readme with details on what this extension does
  package-lock.json
  packages/paste-indented/CHANGELOG.md
  packages/paste-indented/README.md
  packages/paste-indented/package.json
Due: prettier --check --ignore-unknown

added kaio theme
  .vscode/launch.json
  package-lock.json
  packages/theme-kaio/.vscodeignore
  packages/theme-kaio/CHANGELOG.md
  packages/theme-kaio/README.md
  packages/theme-kaio/package.json
  packages/theme-kaio/themes/kaio-color-theme.json
Due: prettier --check --ignore-unknown

theme-kaio: added Note (ciiqr.note-syntax) support
  package-lock.json
  packages/theme-kaio/CHANGELOG.md
  packages/theme-kaio/package.json
  packages/theme-kaio/themes/kaio-color-theme.json
Due: prettier --check --ignore-unknown

theme-kaio: setting minimap slider background
  package-lock.json
  packages/theme-kaio/CHANGELOG.md
  packages/theme-kaio/package.json
  packages/theme-kaio/themes/kaio-color-theme.json
Due: prettier --check --ignore-unknown

theme-kaio: tweaked string yellow
  package-lock.json
  packages/theme-kaio/CHANGELOG.md
  packages/theme-kaio/package.json
  packages/theme-kaio/themes/kaio-color-theme.json
Due: prettier --check --ignore-unknown

added convert extension
  .vscode/launch.json
  package-lock.json
  package.json
  packages/convert/.eslintrc.yml
  packages/convert/.vscodeignore
  packages/convert/CHANGELOG.md
  packages/convert/README.md
  packages/convert/package.json
  packages/convert/src/extension.ts
  packages/convert/tsconfig.json
  tsconfig.json
Due: prettier --check --ignore-unknown, eslint

note-syntax: fixed section folding
  package-lock.json
  packages/note-syntax/CHANGELOG.md
  packages/note-syntax/language-configuration.json
  packages/note-syntax/package.json
Due: prettier --check --ignore-unknown

added an icon for kaio, updated note-syntax icon/sample images
  package-lock.json
  packages/note-syntax/CHANGELOG.md
  packages/note-syntax/images/icon.png
  packages/note-syntax/images/sample.png
  packages/note-syntax/package.json
  packages/theme-kaio/CHANGELOG.md
  packages/theme-kaio/images/icon.png
  packages/theme-kaio/images/icon.svg
  packages/theme-kaio/package.json
Due: prettier --check --ignore-unknown

added background colour to list of main colours
  packages/theme-kaio/themes/kaio-color-theme.json
Due: prettier --check --ignore-unknown

ported over some changes from template repo
  .envrc
  .eslintignore
  .github/workflows/release.yml
  .gitignore
  .npmrc
  .nvmrc
  .prettierignore
  .rtx.toml
  devshell.toml
  flake.lock
  flake.nix
  tsconfig.json
Due: prettier --check --ignore-unknown

updated readme with default file extensions
  package-lock.json
  packages/note-syntax/CHANGELOG.md
  packages/note-syntax/README.md
  packages/note-syntax/package.json
Due: prettier --check --ignore-unknown

main: updated github actions
  .github/workflows/release.yml
Due: prettier --check --ignore-unknown

rtx -> mise
  .mise.toml
  .rtx.toml
Due: prettier --check --ignore-unknown

updated vscode & node deps
  .github/workflows/release.yml
  .mise.toml
  package-lock.json
  package.json
  packages/convert/package.json
  packages/encode/package.json
  packages/fold-comments/package.json
  packages/paste-indented/package.json
  packages/reindent/package.json
Due: prettier --check --ignore-unknown

updated additional deps
  .husky/pre-commit
  package-lock.json
  package.json
  packages/convert/package.json
  packages/encode/package.json
  packages/fold-comments/package.json
  packages/paste-indented/package.json
  packages/paste-indented/src/extension.ts
  packages/reindent/package.json
Due: prettier --check --ignore-unknown, eslint

bump-version: auto fix workspace convert to convert-format
  scripts/bump-version.sh
Due: prettier --check --ignore-unknown, shellcheck --color=always

bump-version: format changed at some point without this option
  scripts/bump-version.sh
Due: prettier --check --ignore-unknown, shellcheck --color=always

Path conditions:
  prettier --check --ignore-unknown: any of: *
  eslint: any of: *.{js,ts,jsx,tsx}
  shellcheck --color=always: any of: *.sh
